.header {
  &__nav {
    display: flex;
  }
  &__div {
    background-color: black;
    width: 400;
    height: 400;
  }
  &__nav__ul {
    display: flex;
  }
  &__nav_div {
    display: flex;
    justify-content: space-between;
  }
}
